body{
	background-color: rgb(255, 243, 217);
}
.entry-title{
	text-align: center;
}
.entry-footer{
	display: none;
}

.globalConteneur{
	display: flex;
	flex-direction: row;
	margin-left: 2%;
	margin-top: 2%;

	div{
		margin-left: 2%;
		@include rayures-bleu;
	}

	img{
		width: 200px;
		height: 200px;
		min-width: 200px;
		min-height: 200px;
	}
}

.ConteneurNouvelles{
	display: flex;
	justify-content: space-between;

	img{
		width: 100px;
		height: 100px;
		min-width: 100px;
		min-height: 100px;
	}
}

.TitreEvenements{
	text-align: center;
}
.tableau-grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(1, 1fr);
	margin: 10px;

	h3{
		border: 5px solid rgb(71, 67, 57);
		padding: 33px;
		margin: 10px;
		background-color: rgb(255, 187, 0);
		color: rgb(0, 0, 0);
	}
}

.post-thumbnail{
	text-align: center;
	animation: animImage 2s forwards;
}

.wp-block-cgb-block-my-block{
	background-color: rgb(124, 76, 156);
	animation: animChangeCouleur 3s infinite;
    color: white;
}

.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}