@keyframes animImage{
    from{
        transform: translateX(110%) skewX(-20deg);
    }
    to{
        transform: translate(0,0);
    }
}
@keyframes animChangeCouleur{
    from{
        background-color: blue;
    }
    25%{
        background-color: cyan;
    }
    50%{
        background-color: blueviolet;
    }
    75%{
        background-color: rgb(255, 217, 0);
    }
    to{
        background-color: blue;
    }
}