@keyframes animImage{
    from{
        transform: translateX(110%) skewX(-20deg);
    }
    to{
        transform: translate(0,0);
    }
}
@keyframes animChangeCouleur{
    from{
        background-color: rgb(255, 230, 147);
    }
    25%{
        background-color: rgb(45, 81, 136);
    }
    50%{
        background-color: rgb(136, 45, 45);
    }
    75%{
        background-color: rgb(45, 81, 136);
    }
    to{
        background-color: rgb(255, 230, 147);
    }
}