/* ------------------------------------------------------------------------------ */
/* @extend  
/* ------------------------------------------------------------------------------ */
/* Un  @extend permet d'hériter des propriétés CSS d'un autre sélecteur           */
/* ------------------------------------------------------------------------------ */

%small-uppercase{
    color: lightslategrey;
    font-size: 10px;
    letter-spacing: 0.1em;
    line-height: 12px;
    text-transform: uppercase;
  }
  
  .petitTexte{
    @extend %small-uppercase;
  }


