/* ----------------------------------------- */
/* ------  Un premier exemple de mixin ----- */
/* ----------------------------------------- */

/*Mixin rayures*/
@mixin rayures-bleu {
  background: repeating-linear-gradient(-45deg, rgb(41, 59, 80), rgb(61, 71, 124) 10px, rgb(11, 29, 63) 40px);
  color:white;
}

@mixin label($text: "Code", $background: #aaa, $color: rgba(black, 0.5)) {
    position: relative;
    &:before{
      background: $background;
      color: $color;
      content: $text;
      display: inline-block;
      font-size: 0.6rem;
      font-weight: 700;
      height: 1rem;
      left: 0;
      letter-spacing: 0.1em;
      line-height: 1rem;
      padding: 0 0.5em;
      position: absolute;
      text-transform: uppercase;
      top: 0;
    }
  }

@mixin media($largeur) {
    @media only screen and (min-width: $largeur) {
        @content;
    }
}


